In [2]:
import pandas as pd

movies_data = pd.read_csv("movies/movies.csv",  encoding='latin-1')

# Leer datos de un csv
movies_data

,id,budget,genres,homePage,productionCompany,productionCompanyCountry,productionCountry,revenue,runtime,video,...,popularity,releaseDate,voteAvg,voteCount,genresAmount,productionCoAmount,productionCountriesAmount,actorsAmount,castWomenAmount,castMenAmount
0,5,4000000,Crime|Comedy,https://www.miramax.com/movie/four-rooms/,Miramax|A Band Apart,US|US,United States of America,4257354.0,98,False,...,20.880,1995-12-09,5.7,2077,2,2,1,25,15,9
1,6,21000000,Action|Thriller|Crime,NaN,Universal Pictures|Largo Entertainment|JVC,US|US|JP,Japan|United States of America,12136938.0,110,False,...,9.596,1993-10-15,6.5,223,3,3,2,15,3,9
2,11,11000000,Adventure|Action|Science Fiction,http://www.starwars.com/films/star-wars-episod...,Lucasfilm|20th Century Fox,US|US,United States of America,775398007.0,121,NaN,...,100.003,1977-05-25,8.2,16598,3,2,1,105,5,62
3,12,94000000,Animation|Family,http://movies.disney.com/finding-nemo,Pixar,US,United States of America,940335536.0,100,NaN,...,134.435,2003-05-30,7.8,15928,2,1,1,24,5,18
4,13,55000000,Comedy|Drama|Romance,NaN,Paramount|The Steve Tisch Company,US|,United States of America,677387716.0,142,False,...,58.751,1994-07-06,8.5,22045,3,2,1,76,18,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,920081,0,Action|Horror,NaN,NaN,NaN,NaN,0.0,100,False,...,16.662,2021-11-26,6.8,108,2,1,1,10,2,4
9996,920143,0,Comedy,NaN,Caracol Televisión|Dago García Producciones,CO|CO,Colombia,0.0,97,False,...,491.706,2021-12-25,1.5,2,1,2,1,8,1,1
9997,922017,0,Comedy,NaN,NaN,NaN,Nigeria,0.0,112,False,...,565.658,2021-12-17,6.1,30,1,1,17,1,0,922017
9998,922162,0,NaN,https://www.netflix.com/title/81425229,NaN,NaN,United States of America,0.0,59,False,...,9.664,2021-12-17,6.0,1,1,0,0,0,922162,The Witcher: Fireplace
9999,922260,254056,Mystery|Thriller|Horror,NaN,Central Partnership|KIT Film Studio,RU|RU,Russia,254042.0,0,NaN,...,83.747,2021-11-11,4.7,3,3,2,1,8,4,3

# CLUSTERING

# REGLAS DE ASOSACION

# PCA

## 1) Estudie si es posible hacer transformaciones en las variables categóricas para incluirlas en el PCA, ¿valdrá la pena?

 Podría valer la pena transformar variables como genresAmount, productionCoAmount, productionCountriesAmount, releaseDate (año), actorsAmount y popularity. Variables como director, actors, originalTitle, title, homePage, y video probablemente no aportan información útil para el PCA, castWomenAmount y castMenAmount no se toman en cuenta por el actorsAmount, que es un dato mas general y mejor de cuantos actores trabajaron en la pelicula.

In [7]:
quantitative_columns = ['budget', 'revenue', 'runtime', 'voteAvg', 'voteCount']

pca_dataset = movies_data[quantitative_columns + ['genresAmount', 'productionCoAmount', 
                                                     'productionCountriesAmount', 'releaseYear', 
                                                     'actorsAmount', 'popularity']].dropna()

pca_dataset

,budget,revenue,runtime,voteAvg,voteCount,genresAmount,productionCoAmount,productionCountriesAmount,releaseYear,actorsAmount,popularity
0,4000000,4257354.0,98,5.7,2077,2,2,1,1995,25,20.880
1,21000000,12136938.0,110,6.5,223,3,3,2,1993,15,9.596
2,11000000,775398007.0,121,8.2,16598,3,2,1,1977,105,100.003
3,94000000,940335536.0,100,7.8,15928,2,1,1,2003,24,134.435
4,55000000,677387716.0,142,8.5,22045,3,2,1,1994,76,58.751
...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0.0,100,6.8,108,2,1,1,2021,10,16.662
9996,0,0.0,97,1.5,2,1,2,1,2021,8,491.706
9997,0,0.0,112,6.1,30,1,1,17,2021,1,565.658
9998,0,0.0,59,6.0,1,1,0,0,2021,0,9.664
9999,254056,254042.0,0,4.7,3,3,2,1,2021,8,83.747